*{
    margin: 0%;
     padding: 7px; 
   color: white;
}
a{
    text-decoration: none;
    color: rgb(47, 4, 103);
    font-size: 20px;
    font-weight: 600;
 }
 a:hover{
     text-decoration : underline;
    padding-top: 10px;
    font-size: 23px;
 }

 #firsthead{
    /* height: 100px; */
    /* width: 100vw; */
    /* background-color:rgba(75, 44, 4, 0.849);*/ 
    /* background-color:#5e503f ; */
    /* background-color:#264653; */
    display: flex;
    justify-content: center;
    align-items: center;
}

 #pp1{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-image: url("icons/pp1.jpg");
}
